<div id="about-info">
<div class="about">
  <h3>SOBRE</h3>
  <p>Este projeto coleta dados atualizados da Tabela FIPE através de uma API pública, permitindo que você acesse
    informações precisas sobre o valor de veículos no Brasil. A Tabela FIPE é amplamente utilizada
    como referência para a compra e venda de automóveis, motos e caminhões. O objetivo do projeto é fornecer uma
    ferramenta simples e acessível para todos que precisam consultar esses dados.

    Saiba mais sobre a API utilizada clicando <a href="https://deividfortuna.github.io/fipe/">aqui</a>.</p>
  <h3>MINHAS REDES</h3>
  <div>
    <a href="https://github.com/heloisacst"><img src="../assets/github 1.png" alt="github-icon"></a>
    <a href="https://www.linkedin.com/in/heloisa-cristina-681321198/"><img src="../assets/linkedin 1.png" alt="linkedin-icon"></a>
  </div>
</div>
</div>
