.navbar.navbar-dark.bg-dark {
  padding: 1.5rem;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.596); /* Sombreamento */
  position: relative;
}
.menu {
  margin-right: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.home {
  position: absolute;
  left: 1.5rem; /* Define a âncora da home à esquerda */
}

img {
  height: 2rem;
}

@media (max-width: 768px) {
  .navbar.navbar-dark.bg-dark {
    width: 100%;
    padding: 1rem;
  }

}

