h2 {
  text-align: center;
  margin-top: 1rem;
}
.form-select {
  width: 20%;
  margin: 1rem;
  background-color: black;
  color: white;
}

option:hover {
  background-color: #00ADB5;
}

.selects {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

label {
  font-size: 0.8rem;
  padding-top: 1.5rem;
}

.label-1 {
  margin-left: 1rem;
}

table {
  width: 100%;
  margin-top: 2rem;
  table-layout: fixed;
  margin-top: 2rem;
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #2e3a47;
  color: white;
}

th {
  background-color: #222831;
}

td {
  background-color: #4d5a6e;
}
