h2 {
  text-align: center;
  margin-top: 1rem;
}
.form-select {
  width: 20%;
  margin: 1rem;
  background-color: black;
  color: white;
}

option:hover {
  background-color: #00ADB5;
}

.selects {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

label {
  font-size: 0.8rem;
  padding-top: 1.5rem;
}

.label-1 {
  margin-left: 1rem;
}
