<div>
  <select name="tiposVeiculo" [(ngModel)]="inputTipoVeiculo" (change)="buscarMarcas(inputTipoVeiculo)">
    <option value="carros">Carros</option>
    <option value="caminhoes">Caminhões</option>
    <option value="motos">Motos</option>
  </select>

  <select name="marcas" [(ngModel)]="inputMarca" (change)="buscarModelos(inputMarca)">
   <option *ngFor="let marca of marcaList" [ngValue]="marca.codigo">{{marca.nome}}</option>
  </select>

  <select name="modelos" [(ngModel)]= "inputSubModel" (change)="buscarSubModelos(inputSubModel)">
    <option *ngFor="let modelo of modeloList" [ngValue]="modelo.codigo">{{modelo.nome}}</option>
  </select>

</div>
